---
import Layout from "../layouts/Layout.astro";
import TopBar from "../components/TopBar.astro";
import BeerList from "../components/BeerList.astro";
---

<Layout title="home">
  <main>
    <TopBar />
    <BeerList />
  </main>
</Layout>

<style>
  main {
    height: 96vh;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
