---
import Layout from '../layouts/Layout.astro';
import Beer from '../components/Beer.astro';
import BeerCategory from '../components/BeerCategory.astro';
---

<Layout title="home">
	<main>
		<BeerCategory name="House Lager">
			<Beer
				name="Hockley Helles"
				brewery="Hockley BrewCo"
				strength="4"
				pricePint={5.20}
				priceHalf={2.60}
				colour={1}
				style="Lager - Helles"
			/>
			<Beer
				name="Hofmeister Helles"
				brewery="Hofmeister"
				strength="4"
				pricePint={5.60}
				priceHalf={2.80}
				colour={1}
				style="Lager - Helles"
			/>
		</BeerCategory>
	</main>
</Layout>

<style>
	main {
		height: 96vh;
		width: auto;
		aspect-ratio: 1 / 1;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 50%;
		transform: translateY(-50%);
	}
</style>
