---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<h2>{name}</h2>
<ul>
  <slot />
</ul>
<style lang="scss">
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  h2 {
    color: var(--colour-yellow);
    font-family: "ceefax_bulletin";
    font-size: 25px;
    text-align: left;
    margin: 15px 0;
    text-transform: uppercase;
  }
</style>
<!-- <BeerCategory name="House Lager">
	<Beer
		name="Hockley Helles"
		brewery="Hockley BrewCo"
		strength="4"
		pricePint={5.20}
		priceHalf={2.60}
		colour={1}
		style="Lager - Helles"
	/>
	<Beer
		name="Hofmeister Helles"
		brewery="Hofmeister"
		strength="4"
		pricePint={5.60}
		priceHalf={2.80}
		colour={1}
		style="Lager - Helles"
	/>
</BeerCategory> -->
